@font-face{
	font-family: "Inter";
	src: url("../fonts/inter.ttf");
}
@font-face{
	font-family: "Nebulax";
	src: url("../fonts/Nebulax.ttf");
}
:root{
	--morado: #770080;
	--azul: #34037b;
	--blanco: #ffffff;
	--gris: #d8d8d8;
	--gris-oscuro: #7f7f7f;
	--rojo-claro: #ff6685;
	--rojo-oscuro: #47000e;
	--x: 45deg;
	--verde-claro: #48c78e;
	--verde-oscuro: #113726;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--blanco);
	font-size: 1.4vw;
	font-family: "Inter";
}
body{
	background: linear-gradient(to right ,var(--morado), var(--azul));
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	height: 6vw;
	align-items: center;
	padding: 1vw 3vw;
	justify-content: space-between;
}
.logo{
	height: 4vw;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.logo img{
	height: 100%;
}
.texto_logo{
	padding-top: 0.6vw;
	font-family: "Nebulax";
	font-size: 2.4vw;
	font-weight: normal;
}
.busqueda{
	display: flex;
	align-items: center;
	background: var(--gris);
	border: none;
	height: 3vw;
	width: 30vw;
	border-radius: 1.5vw;
	transition: 150ms ease-in-out;
	opacity: 0.8;
}
.busqueda:hover{
	background: var(--blanco);
	opacity: 1;
}
.busqueda input{
	background: none;
	padding: 1vw 1.4VW;
	border: none;
	outline: none;
	width: 90%;
	font-weight: 500;
	color: var(--gris-oscuro);
}
.search{
	background: linear-gradient(to right ,var(--morado), var(--azul));
	width: 2.4vw;
	height: 2.4vw;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	
}
.search i{
	color: var(--gris);
}
ul{
	display: flex;
	list-style: none;
	gap: 5vw;
	align-items: center;
}
li a{
	font-size: 1.2vw;
	text-decoration: none;
	font-family: "Nebulax";
	transition: 200ms ease-in-out;
	color: var(--gris);
	opacity: 0.7;
	padding: 1vw 0;
}
li a:hover{
	color: var(--blanco);
	opacity: 1;
	text-shadow: 0 0 1vw var(--blanco);
}
.landing{
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 8vw;
	padding-top: 16vw;
}
.landing .izquierda{
	flex: 5;
}
.landing .derecha{
	flex: 4;
}
.landing div img{
	width: 100%;
}
h1{
	font-family: "Nebulax";
	font-weight: normal;
	font-size: 5vw;
	line-height: 5vw;
}
.izquierda h4{
	font-size: 1.8vw;
	font-weight: bolder;
}
button{
	cursor: pointer;
}
.boton_pa_juan{
	margin: 2vw 0;
	position: relative;
	width: 10vw;
	height: 3vw;
	display: inline-block;
	border-radius: 0.2vw;
}
.boton_pa_juan i{
	position: absolute;
	inset: -0.2vw;
	display: block;
	border-radius: 0.2vw;
}
.boton_pa_juan i, .boton_pa_juan i:nth-child(2){
	background: linear-gradient(var(--x),
		var(--blanco), var(--morado),
		var(--morado),var(--blanco));
}
.boton_pa_juan i:nth-child(2){
	filter: blur(0.4vw);
}
.boton_pa_juan span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: var(--morado);
	overflow: hidden;
	border-radius: 0.2vw;
}
.boton_pa_juan span::before{
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: var(--blanco);
	transform: skew(25deg);
	opacity: 0.05;
}
.registro{
	padding-right: 2vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5vw 1.2vw;
	margin-top: 2vw;
}
.grupo{
	position: relative;
}
.dato{
	position: absolute;
	width: 100%;
	outline: none;
	padding: 0.8vw 0.8vw;
	background: none;
	border-radius: 0.6vw;
	border: 0.1vw solid var(--blanco);
	transition: 100ms ease-in-out;
	font-size: 1.2vw;
}
.dato:focus{
	filter: drop-shadow(0 0 0.4vw var(--blanco));
}
.placeholder{
	transform: translateY(0.6vw);
	position: absolute;
	padding: 0 0.2vw;
	margin: 0 1.8vw;
	backdrop-filter: blur(0.3vw);
	transition: 200ms ease-in-out;
	pointer-events: none;
	color: var(--gris);
}
.dato:focus + .placeholder, .lleno + .placeholder{
	transform: translateY(-0.9vw);
}
.doble{
	grid-column: 1/3;
}
.registro p{
	color: var(--gris);
	margin: -1.8vw 0;
	opacity: 0.6;
}
input[type="submit"]{
	background: none;
	outline: none;
	border: 0.2vw solid var(--blanco);
	grid-column: 1/2;
	margin: -4vw 0;
	height: 3.8vw;
	font-size: 1.6vw;
	width: 48%;
	border-radius: 1vw;
	transition: 100ms ease-in-out;
	font-weight: 500;
	
}
input[type="submit"]:hover{
	background: var(--blanco);
	color: var(--morado);
}
.fa-eye, .fa-eye-slash{
	padding: 0.2vw;
	display: block;
	position: absolute;
	right: 1vw;
	top: 0.75vw;
	z-index: 10;
	
}
.placeholder span{
	color: var(--rojo-claro);
}
dialog{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0006;
	border: none;
	backdrop-filter: blur(1vw);
	z-index: 20;
}
dialog div{
	width: 30vw;
	height: 15vw;
	text-align: center;
	border-radius: 1vw;
}
dialog p{
	margin: 1vw;
}
dialog strong{
	display: block;
	border-radius: 1vw 1vw 0 0;
	padding: 1vw;
}
dialog button{
	display: block;
	width: 40%;
	height: 3vw;
	margin: 1vw auto;
	border: none;
	border-radius: 1vw;
	
	font-weight: 500;
}
.bien{
	background: var(--verde-oscuro);
	color: var(--verde-claro);
}
.bien button, .bien strong{
	background: var(--verde-claro);
	color: var(--verde-oscuro);
}
.bien p{
	color: var(--verde-claro);
}

.mal{
	background: var(--rojo-oscuro);
	color: var(--rojo-claro);
}
.mal button, .mal strong{
	background: var(--rojo-claro);
	color: var(--rojo-oscuro);
}
.mal p{
	color: var(--rojo-claro);
}