@font-face{
	font-family: "Inter";
	src: url("../fonts/inter.ttf");
}
@font-face{
	font-family: "Nebulax";
	src: url("../fonts/Nebulax.ttf");
}
@keyframes scroll{
	to{
		transform: translate(calc(-50% - 0.5vw));
	}
}
:root{
	--morado: #770080;
	--intermedio: #8009B8;
	--azul: #34037b;
	--blanco: #ffffff;
	--gris: #d8d8d8;
	--gris-oscuro: #7f7f7f;
	--rojo: #fa281b;
	--verde: #1bfa4c;
	--x: 45deg;
	--transparente: #fff5;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--blanco);
	font-size: 1.4vw;
	font-family: "Inter";
	transition: 200ms ease-in-out;
}
body{
	background: linear-gradient(to right ,var(--morado), var(--azul));
}
a{
	text-decoration: none;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	height: 6vw;
	align-items: center;
	padding: 1vw 3vw;
	justify-content: space-between;
	z-index: 50;
}
header::before{
	position: absolute;
	content: "";
	backdrop-filter: blur(0.6vw);
	width: 100vw;
	height: 6vw;
	top: 0;
	left: 0;
	z-index: -1;
}
.logo{
	height: 4vw;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.logo img{
	height: 100%;
}
.texto_logo{
	padding-top: 0.6vw;
	font-family: "Nebulax";
	font-size: 2.4vw;
	font-weight: normal;
}
.busqueda{
	display: flex;
	align-items: center;
	background: var(--gris);
	border: none;
	height: 3vw;
	width: 30vw;
	border-radius: 1.5vw;
	opacity: 0.8;
}
.busqueda:hover{
	background: var(--blanco);
	opacity: 1;
}
.busqueda input{
	background: none;
	padding: 1vw 1.4VW;
	border: none;
	outline: none;
	width: 90%;
	font-weight: 500;
	color: var(--gris-oscuro);
}
.search{
	background: linear-gradient(to right ,var(--morado), var(--azul));
	width: 2.4vw;
	height: 2.4vw;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
}
.search i{
	color: var(--gris);
}
ul{
	display: flex;
	list-style: none;
	gap: 5vw;
	align-items: center;
}
nav li a{
	font-size: 1.2vw;
	text-decoration: none;
	font-family: "Nebulax";
	color: var(--gris);
	opacity: 0.7;
	padding: 1vw 0;
}
nav li a:hover{
	color: var(--blanco);
	opacity: 1;
	text-shadow: 0 0 1vw var(--blanco);
}
nav ul .mano{
	width: 1.6vw;
}
.landing{
	display: flex;
	align-items: center;
	height: 47vw;
	padding: 8vw;
	padding-top: 16vw;
}
.landing .izquierda{
	flex: 5;
}
.landing .derecha{
	flex: 4;
}
.landing div img{
	width: 100%;
}
h1{
	font-family: "Nebulax";
	font-weight: normal;
	font-size: 5vw;
	line-height: 5vw;
}
.izquierda h4{
	font-size: 1.8vw;
	font-weight: bolder;
}
button{
	cursor: pointer;
}
.boton_pa_juan{
	margin: 2vw 0;
	position: relative;
	width: 10vw;
	height: 3vw;
	display: inline-block;
	border-radius: 0.2vw;
}
.boton_pa_juan i{
	position: absolute;
	inset: -0.2vw;
	display: block;
	border-radius: 0.2vw;
}
.boton_pa_juan i, .boton_pa_juan i:nth-child(2){
	background: linear-gradient(var(--x),
		var(--blanco), var(--morado),
		var(--morado),var(--blanco));
}
.boton_pa_juan i:nth-child(2){
	filter: blur(0.4vw);
}
.boton_pa_juan span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: var(--morado);
	overflow: hidden;
	border-radius: 0.2vw;
}
.boton_pa_juan span::before{
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: var(--blanco);
	transform: skew(25deg);
	opacity: 0.05;
}
.registro{
	padding-right: 2vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5vw 1.2vw;
	margin-top: 2vw;
}
.grupo{
	position: relative;
}
.dato{
	position: absolute;
	width: 100%;
	outline: none;
	padding: 0.8vw 0.8vw;
	background: none;
	border-radius: 0.6vw;
	border: 0.1vw solid var(--blanco);
	font-size: 1.2vw;
}
.dato:focus{
	filter: drop-shadow(0 0 0.4vw var(--blanco));
}
.placeholder{
	transform: translateY(0.6vw);
	position: absolute;
	padding: 0 0.2vw;
	margin: 0 1.8vw;
	backdrop-filter: blur(0.3vw);
	pointer-events: none;
	color: var(--gris);
}
.dato:focus + .placeholder, .lleno + .placeholder{
	transform: translateY(-0.9vw);
}
.doble{
	grid-column: 1/3;
}
.registro p{
	color: var(--gris);
	margin: -1.4vw 0;
	opacity: 0.6;
}
input[type="submit"]{
	background: none;
	outline: none;
	border: 0.2vw solid var(--blanco);
	grid-column: 1/2;
	margin: -4vw 0;
	height: 3.8vw;
	font-size: 1.6vw;
	width: 48%;
	border-radius: 1vw;
	font-weight: 500;
	cursor: pointer;
}
input[type="submit"]:hover{
	background: var(--blanco);
	color: var(--morado);
}
.registro .fa-eye, .fa-eye-slash, .fa-angle-down{
	cursor: pointer;
	padding: 0.2vw;
	display: block;
	position: absolute;
	right: 1vw;
	top: 0.75vw;
	z-index: 10;
}
.iconos{
	padding: 0.2vw;
	display: block;
	position: absolute;
	left: 1vw;
	top: 0.7vw;
	z-index: 10;
}
.mover{
	margin-left: 3vw;
}
.mover_dato{
	padding-left: 3.2vw;
}
.placeholder span{
	color: var(--rojo);
}
dialog{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0007;
	border: none;
	backdrop-filter: blur(0.6vw);
	z-index: 100;
}
dialog div{
	width: 30vw;
	height: 15vw;
	text-align: center;
	border-radius: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 1vw;
}
dialog p{
	margin: 2vw 2vw 0;
}
dialog strong{
	display: block;
	border-radius: 1vw 1vw 0 0;
	padding: 1vw;
}
dialog button{
	display: block;
	width: 40%;
	height: 3vw;
	margin: auto;
	border: none;
	border-radius: 1vw;
	font-weight: 500;
}
dialog div{
	background: var(--transparente);
}
dialog button, dialog strong{
	background: var(--morado);
	font-size: 1.5vw;
}
dialog p{
	font-weight: 500;
	color: var(--morado);
}
dialog .bien{
	box-shadow: 0 0 2vw var(--verde);
}
dialog .mal{
	box-shadow: 0 0 2vw var(--rojo);
}
.tarjeta{
	background: var(--transparente);
	border-radius: 1.4vw;
	border: 0.1vw solid var(--transparente);
	position: relative;
}
.izquierda .tarjeta{
	width: 25vw;
	height: 38vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 1vw;
}
hr{
	width: 85%;
	margin: 0.4vw;
	border: 0.1vw solid var(--morado);
}
.tarjeta .user{
	object-fit: cover;
	display: block;
	border-radius: 50%;
	width: 18vw;
	height: 18vw;
	aspect-ratio: 1/1;
	border: 0.2vw solid var(--blanco);
	margin-bottom: 0.4vw;
}
h3, h5{
	margin-top: 0.4vw;
	font-size: 1vw;
	font-family: "Nebulax";
}
h3{
	font-size: 1.6vw;
}
.izquierda .tarjeta p{
	font-size: 1vw;
	margin-left: 2.2vw;
	margin-bottom: 1vw;
	color: var(--gris);
}
.info{
	width: 80%;
}
.info h5 img{
	width: 1.8vw;
}
h5{
	display: flex;
	align-items: center;
	gap: 0.4vw;
}
.derecha .tarjeta{
	height: 17vw;
	width: 54vw;
	margin: 2vw 0;
	display: flex;
	flex-direction: column;
	padding: 1vw 5vw;
	justify-content: center;

}
.derecha .tarjeta h3{
	font-size: 2vw;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(calc(-50% + 2.4vw)) rotate(-90deg) translateX(-6.8vw);
}
.derecha .tarjeta h4{
	text-align: center;
	font-size: 2vw;
}
.menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	top: 0;
	padding-top: 4.2vw;
	right: -16vw;
	position: absolute;
	width: 15.4vw;
	height: 13vw;
	background: var(--transparente);
	backdrop-filter: blur(0.5vw);
	border-radius: 0 0 0 1vw;
	font-size: 1.2vw;
}
.menu a{
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 0.4vw 0.8vw;
	border-radius: 0.6vw;
	background: var(--rojo);
	font-size: 1.3vw;

}
.menu h4{
	width: 14vw;
	text-align: center;
	font-size: 1.2vw;
}
.cuenta{
	z-index: 10;
}
.cuenta:hover ~ .menu, .menu:hover{
	right: 0;
}
.izquierda .tarjeta a{
	font-weight: bold;
	padding: 0.4vw 0.8vw;
	border-radius: 0.6vw;
	background: var(--rojo);
	border: none;
	font-size: 1.2vw;
	opacity: 1;
}
.izquierda .tarjeta .cambiar{
	background: var(--azul);
}
.derecha .perfil{
	display: block;
	margin: auto;
	width: 30vw;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: 0.2vw solid var(--blanco);
	object-fit: cover;
}
.entrada{
	display: flex;
	border: 0.2vw solid var(--blanco);
	height: 3vw;
	cursor: pointer;
}
.entrada span{
	color: var(--blanco);
	display: block;
	font-size: 1vw;
	padding: 0.8vw;
	width: calc(100% - 6vw);
}
.entrada .input{
	background: var(--blanco);
	text-align: center;
	color: var(--morado);
	width: 6vw;
}
.entrada:hover span{
	color: var(--morado);
	background: var(--blanco);
}
.entrada:hover .input{
	background: none;
	color: var(--blanco);
}
.formulario .desactivado, .flechas .desactivado{
	opacity: 0.4;
	cursor: not-allowed;
}
.formulario .desactivado:hover{
	background: none;
	color: var(--blanco);
}
.formulario .iconodes{
	opacity: 0.4;
}
.formulario .desactivado:hover + #icono{
	color: var(--blanco);
}
.diferente h1, .diferente h4{
	text-align: right;
	margin-right: 2vw;
}
.diferente .formulario{
	margin-top: 0.6vw;
	gap: 4.4vw 1.2vw;
}
.formulario .video[type="submit"]{
	width: 16vw;
	padding: 0 1vw 0 3vw;
}
.formulario .video[type="submit"]:hover + .fa-cloud-arrow-up{
	color: var(--morado);
}
#icono{
	position: absolute;
	left: 9.8vw;
	top: 40.6vw;
	font-size: 1.8vw;
	pointer-events: none;
}
.entrada{
	border-radius: 0.6vw;
	height: 3.3vw;
	margin: 0;
	padding: 0;
	border: 0.1vw solid var(--blanco);
}
.input{
	border-radius: 0.4vw 0 0 0.4vw;
}
.borde{
	border-radius: 0 0.4vw 0.4vw 0;
}
.alto{
	height: 9.2vw;
	resize: none;
	margin-bottom: 1vw;
}
.entrada span{
	padding: 1vw 0.8vw;
}
.diferente .entrada{
	width: 47%;
}
.landing .diferente .doble_archivo{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.doble_archivo .otro{
	right: 0;
}
select{
	font-weight: 500;
	color: var(--gris);
	padding: 3vw;
	font-size: 10vw;
}
select{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	font-size: 16px;
	width: 200px;
	appearance: none;
}

select option{
	padding: 10px;
	background-color: #fff;
	color: #333;
}
.fa-angle-down{
	pointer-events: none;
}
.landing .page404{
	width: 80%;
	margin: auto;
}
.landing .page404 h1, .landing .page404 h2{
	text-align: center;
}
.landing .page404 h1{
	font-size: 20.2vw;
	text-shadow: 1vw 0 0 var(--gris-oscuro);
}
.landing .page404 h2{
	font-size: 4vw;
	margin-top: 6vw;
	font-family: "Nebulax";
}
.catalogo{
	display: grid;
	padding: 8vw 6vw;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
	gap: 4vw 5vw;
}
.curso{
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.miniatura{
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: 1vw;
	opacity: 0.9;
	filter: brightness(0.8) saturate(0.8);
}
.curso:hover .miniatura, .curso:hover .autor img{
	opacity: 1;
	filter: brightness(1) saturate(1.1);
}
.curso h4{
	font-size: 1.6vw;
	margin: 0.4vw 0;
}
.autor{
	display: flex;
	align-items: center;
}
.curso .autor img{
	width: 2.4vw;
	height: 2.4vw;
	aspect-ratio: 1/1;
	border-radius: 50%;
	margin-right: 0.4vw;
	filter: brightness(0.8) saturate(0.8);
}
.curso .autor p{
	font-size: 1vw;
}
.catalogo{
	align-content: start;
}
.catalogo h2{
	grid-column: 1/4;
	text-align: center;
	margin: 4vw;
}
.catalogo .filtro{
	grid-column: 1/4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 18vw 0 0;
}
.catalogo .filtro .dato{
	position: relative;
}
.catalogo .filtro .grupo{
	width: 22vw;
	display: flex;
}
.catalogo .filtro input[type="submit"]{
	width: 18vw;
	height: 3.4vw;
	margin: 0;
	border: 0.1vw solid var(--blanco);
}
.cursos{
	padding: 10vw;
	display: flex;
	flex-direction: column;
	gap: 2vw;
	height: auto;
}
.cursos a{
	display: block;
	cursor: pointer;
}
.cursos .tarjeta{
	padding: 2vw;
	width: 100%;
	height: 18vw;
	display: flex;
}
.cursos .tarjeta div{
	padding: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.cursos .tarjeta h2{
	font-size: 1.8vw;
	margin-bottom: 1vw;
}
.cursos .tarjeta img{
	height: 100%;
	width: auto;
	aspect-ratio: 16/9;
	border-radius: 1vw;
	object-fit: cover;
}
.cursos .tarjeta .botones{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.cursos .tarjeta button{
	width: 14vw;
	height: 3.4vw;
	border-radius: 1vw;
	border: none;
	font-weight: bold;
}
.cursos .tarjeta .ir{
	background: var(--azul);
}
.cursos .tarjeta .eliminar{
	background: var(--rojo);
}
.cursos button{
	width: 14vw;
	height: 3.4vw;
	padding: 0 0.4vw 0 0.2vw;
	border-radius: 1vw;
	border: none;
	font-weight: bold;
	background: var(--verde);
}
.sobre{
	display: flex;
	padding: 2vw 8vw 2vw 0;
	text-align: right;
}
.sobre > div{
	width: 48vw;
}
.sobre .imagenes{
	position: relative;
}
.sobre .imagenes img{
	width: 40vw;
	display: block;
	opacity: 0.9;
	filter: brightness(0.8);
}
.sobre .imagenes .grande{
	filter: none;
	opacity: 1;
}
.sobre .imagenes .pequeno{
	position: absolute;
	width: 12vw;
}
.sobre .imagenes .pequeno:hover{
	filter: none;
	opacity: 1;
	transform: scale(1.1);
}
.sobre .imagenes .i1{
	top: 2vw;
	right: 0;
}
.sobre .imagenes .i2{
	top: calc(50% - 6vw);
	right: -2vw;
}
.sobre .imagenes .i3{
	bottom: 2vw;
	right: 0;
}
.sobre .derecha{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 8vw;
	gap: 0.4vw;
}
.sobre .derecha h2, .servicios .izquierda h2{
	font-family: "Nebulax";
	font-size: 4vw;
}
.sobre .derecha p, .sobre .derecha b{
	font-size: 2vw;
	text-wrap: pretty;
}
.servicios{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 2vw 8vw;
}
.servicios .carrusel{
	position: relative;
	height: 34vw;
	width: 43vw;
	padding: 0 2vw;
	overflow: hidden;
}
.servicios .carrusel button, .descripcion .izquierda .flechas > button{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.4vw;
	height: 3.4vw;
	border-radius: 50%;
	text-align: center;
	border: none;
	background: var(--transparente);
	top: 50%;
	z-index: 5;
	outline: none;
}
.servicios .carrusel button i{
	font-size: 1.8vw;
	pointer-events: none;
}
.este{
	left: 0;
}
.oeste{
	right: 0;
}
.servicios .derecha img{
	width: 40vw;
}
.slider h3, .slider p{
	text-align: center;
	width: 38vw;
}
.servicios .slider{
	padding: 0;
	margin: 0;
}
.servicios .slider img{
	display: block;
	margin: auto;
	width: 26vw;
}
.todo{
	display: flex;
	gap: 2vw;
	overflow: visible;
	transition: 500ms ease-in-out;
}
.carrusel .mover_js0{
	transform: translateX(0);
}
.carrusel .mover_js1{
	transform: translateX(-40vw);
}
.carrusel .mover_js2{
	transform: translateX(-80vw);
}
.descripcion{
	padding: 5vw;
	padding-top: 10vw;
	gap: 4vw;
}
.descripcion .izquierda{
	flex: 2.2;
}
.descripcion .izquierda .flechas{
	position: relative;
}
.descripcion .derecha{
	flex: 1;
}
.descripcion .izquierda img, .descripcion .izquierda video{
	width: 100%;
	border-radius: 2vw;
	aspect-ratio: 16/9;
	object-fit: cover;
}
.descripcion .izquierda .flechas > button{
	top: 15vw;
	width: 4vw;
	height: 4vw;
	backdrop-filter: blur(1vw);
}
.descripcion .izquierda > button i{
	font-size: 2vw;
}
.descripcion .izquierda .desactivado{
	background: #fff1;
	cursor: not-allowed;
}
.descripcion .izquierda .este{
	transform: translateX(-50%);
}
.descripcion .izquierda .oeste{
	transform: translateX(50%);
}
.descripcion .izquierda h2{
	font-size: 2vw;
	margin: 0.4vw 0;
}
.descripcion .profesor{
	display: flex;
	align-items: center;
}
.descripcion .profesor img{
	border-radius: 50%;
	object-fit: cover;
	width: 3vw;
	height: 3vw;
	aspect-ratio: 1/1;
	margin-right: 0.6vw;
}
.descripcion .profesor p{
	font-size: 1.2vw;
}
.descripcion .profesor button{
	margin: 0 2vw;
	padding: 0.4vw 1vw;
	background: none;
	border: 0.2vw solid var(--blanco);
	border-radius: 2vw;
	font-weight: 500;
	font-size: 1.3vw;
}
.descripcion .profesor button:hover{
	background: var(--blanco);
	color: var(--morado);
}
.derecha{
	margin-top: -6.2vw;
	height: 33.4vw;
}
.derecha .texto{
	height: 33.4vw;
}
.derecha .texto{
	background: var(--transparente);
	padding-bottom: 1vw;
	border-radius: 2vw;
}
.derecha .texto div{
	background: var(--transparente);
	padding: 1vw 3vw;
	border-radius: 2vw 2vw 0 0;
}
.derecha .texto h4, .derecha .texto h5{
	display: flex;
	justify-content: space-between;
}
.derecha .texto h4{
	font-size: 1.6vw;
}
.derecha .texto h5{
	font-family: "Inter";
}
.derecha .texto i{
	font-size: 1.8vw;
}
.derecha .texto p{
	margin: 1.4vw 2.4vw;
	font-size: 1.2vw;
}


footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vw 2vw 0 2vw;
	background-color: var(--negro);
}
footer ul{
	display: flex;
	justify-content: center;
	gap: 1vw;
	list-style: none;
	margin: 1vw;
}
footer li{
	border-radius: 50%;
}
.facebook{
	background: #1177f7;
}
.instagram{
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.whatsapp{
	background: #25cc64;
}
footer .redes{
	display: flex;
	width: 3.6vw;
	height: 3.6vw;
	justify-content: center;
	align-items: center;
	background: #c0c0ff33;
	padding: 0.6vw;
	border-radius: 50%;
}
footer .redes:hover{
	transform: translate(0.4vw, 0.4vw) rotate(20deg);
}
footer i{
	font-size: 2.2vw;
	color: var(--blanco);
}
footer p{
	font-size: 1vw;
}
.scroll{
	width: 96vw;
	overflow: hidden;
	margin: 0 auto;
}
.elementos{
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 0;
}
.elementos li{
	font-size: 1.2vw;
	border-radius: 1vw;
	margin: 1vw 0.2vw 0;
	font-family: "Nebulax";
	color: var(--gris);
	opacity: 0.8;

}
.scroll[data-animated=true]{
	overflow: hidden;
	mask: linear-gradient(90deg, transparent, #000 10%, #000 90%, transparent);
	-webkit-mask: linear-gradient(90deg, transparent, #000 10%, #000 90%, transparent);
}
.scroll[data-animated=true] .texto{
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll 40s linear infinite;
}
::-webkit-scrollbar{
	width: 0.4vw;
	height: 0.4vw;
}
::-webkit-scrollbar-track{
	background: var(--azul);
}
::-webkit-scrollbar-thumb{
	background: var(--transparente);
	border-radius: 0.4vw;
}